{% extends "layouts/layout.html" %}

{% block content %}

{% load static %}


<!-- Book Us Start -->
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-0">
            <div class="col-1">
                <img src="{% static 'img/NO1B.png'%}" class="img-fluid h-100 w-100 rounded-start" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
            <div class="col-10">
                <div class="border-bottom border-top border-primary bg-light py-5 px-4">
                    <div class="text-center">
                        <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">USUARIO</small>
                        <h1 class="display-5 mb-5">Informacion del usuario</h1>
                    </div>
                    <div class="row g-4 form justify-content-center align-items-center">
                        
                        
                        {% if entrega_existente %}
                            <div class="entrega-details">
                                <h2>Detalles de la entrega existente:</h2>
                                <dl class="row">
                                    <dt class="col-sm-3">Número de Escritura:</dt>
                                    <dd class="col-sm-9">{{ entrega_existente.id_escritura.id_escritura }}</dd>
                                    
                                    <dt class="col-sm-3">Cédula del Usuario:</dt>
                                    <dd class="col-sm-9">{{ entrega_existente.cc_usuario.cc_usuario }}</dd>
                                    
                                    <dt class="col-sm-3">Fecha de Entrega:</dt>
                                    <dd class="col-sm-9">{{ entrega_existente.fecha_entrega }}</dd>
                                </dl>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <img src="{% static 'img/NO1B.png'%}" class="img-fluid h-100 w-100 rounded-end" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Book Us End -->

{% endblock %}